server:
  port: 8080

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

datasource:
  driver-class-name: org.h2.Driver
  url: jdbc:h2:mem:test
  username: sa
  password:

jpa:
  database-platform: org.hibernate.dialect.H2Dialect
  show_sql: true
  properties:
    hibernate:
      format_sql: true




